In [3]:
import pandas as pd

Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [4]:
rat = pd.read_csv('ratings.csv', sep=',')
rat.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
filtered_movie = rat[rat['rating']==5.0]
filtered_movie.head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [15]:
movie_dict = {}

for i in filtered_movie['movieId']:
    movie_dict.update({i:movie_dict.get(i,0)+1})
    #print(i)
#print(movie_dict)
max_count = 0
max_movie = 0
for i in movie_dict:
    if movie_dict.get(i) > max_count:
        max_count = movie_dict.get(i)
        max_movie = i
print(max_movie)

318

In [17]:
mov = pd.read_csv('movies.csv', sep=',')
movie = mov[mov['movieId']== max_movie]
movie.head()

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [36]:
data = pd.read_csv('power.csv', sep=',')
#data.head() #посмотреть с начала
filtered_countries = data[ ((data['country']=='Lithuania') | (data['country']=='Latvia') | (data['country']=='Estonia')) & 
                          ((data['category']==4) | (data['category']==12) | (data['category']==21)) &
                         ((data['year'] >= 2005)) & ((data['year'] <= 2010)) &
                         ((data['quantity']>0))]
#filtered_countries.head()
filtered_countries['quantity'].sum()

240580.0

Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [23]:
page_url = 'https://www.moex.com/ru/derivatives/'
df = pd.read_html(page_url, attrs = {'class': 'table1 listCMainVList'}, encoding='utf-8')
df [0]

  Unnamed: 0_level_0   Текущее значение                                     \
  Unnamed: 0_level_1 Объем торгов (USD) Объем торгов (контр.) Число сделок
0           Фьючерсы      3 801 976 004             6 218 785    1 227 875
1            Опционы        185 883 362               149 910       20 173

  Предыдущее закрытие
   Объем торгов (USD) Объем торгов (контр.) Число сделок
0       5 376 616 266             9 275 990    1 614 888
1         179 085 921               126 085       22 640